@import "tailwindcss";

@theme {
    --color-header: #05070D;
    --color-base: #0B0F1A;

    --primary: #8B5CF6;
    --primary-hover: #7C3AED;
    --primary-soft: #A78BFA;

    --text: #E5E7EB;        /* principal */
    --text-soft: #9CA3AF;   /* secundário */
    --text-muted: #6B7280;  /* labels / detalhes */
}