@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import "tailwindcss";

@theme {
    --color-header: #F9FAFB; 
    --color-base: #FFFFFF;

    --color-primary: #8B5CF6;      
    --color-primary-hover: #7C3AED;
    --color-primary-soft: #C4B5FD;

    --color-text: #111827;     
    --color-text-soft: #4B5563;
    --color-text-muted: #6B7280;
};

.dark {
    --color-header: #00020A;
    --color-base: #05060C;
    
    --color-primary: #7C3AED;
    --color-primary-hover: #6D28D9;
    --color-primary-soft: #8B5CF6;
    
    --color-text: #E5E7EB;
    --color-text-soft: #9CA3AF;
    --color-text-muted: #6B7280; 
}

header {
    box-shadow: 0 0 4px 0;
}