@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import "tailwindcss";

@theme {
    --color-header: #05070D;
    --color-base: #0B0F1A;

    --color-primary: #8B5CF6;
    --color-primary-hover: #7C3AED;
    --color-primary-soft: #A78BFA;

    --color-text: #E5E7EB;        /* principal */
    --color-text-soft: #9CA3AF;   /* secundário */
    --color-text-muted: #6B7280;  /* labels / detalhes */
}